/* Slider */
.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%
}
.jumbotron .slick-dots {
    bottom: 10px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.45);
    border-radius: 50%;
      border: 2px solid #FFFFFF;
}
.slick-dots li.slick-active {
    background: rgba(255, 255, 255, 1)
}

.slick-dots button {
  border-color: none;
}
.slick-dots li.slick-active button:before {
  color: #FFF;
}
.slick-dots li button:before {
  color: #FFF;
}
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    -ms ease-in-transition: opacity 200ms ease-in;
    -o-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
/* Theme defaults */
/* Slider */

.slick-loading .slick-list {
    background: #fff url('../../vendor/slick/ajax-loader.gif') center center no-repeat;
}
/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}

.slick-prev:before {
    content: '←';
}

[dir='rtl'] .slick-prev:before {
    content: '→';
}

.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}

.slick-next:before {
    content: '→';
}

[dir='rtl'] .slick-next:before {
    content: '←';
}
/* Custom for Lyft slick slider */

.slick-slider {
    margin-bottom: 0;
}

.slider-thumbnail,
.slider-content,
.small-slider-content {
    background-size: cover;
    background-position: center 35%;
}

.slider-thumbnail {
    height: 120px;
    width: 120px;
    background-size: cover;
    margin: 0 auto;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 10+ */
    
    filter: gray;
    /* IE6-9 */
    
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    
    opacity: .3;
    cursor: pointer;
    -webkit-transition: opacity 0.3s 0s ease-in-out;
    -moz-transition: opacity 0.3s 0s ease-in-out;
    -ms-transition: opacity 0.3s 0s ease-in-out;
    -o-transition: opacity 0.3s 0s ease-in-out;
    transition: opacity 0.3s 0s ease-in-out;
}
.slider-thumbnail:hover {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.slick-image {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
}

.slick-quote {
    padding: 30px 8%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
    max-height: 375px;
    overflow: hidden;
}

.slider-content {
    min-height: 375px;
}

.small-slider-content {
    height: 150px;
    width: 150px;
    margin: 0 auto;
}

.active-slide .slider-thumbnail {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.container-slick {
    background-color: #F4F5F5;
    padding-left: 0;
    padding-right: 0;
}

#testimonial-2 .slider-thumbs,
#testimonial-2 .slider-main {
    direction: rtl;
}

.slider-main {
    background-color: #34ADE1;
}

.container-slick .row {
    margin: 0;
    position: relative;
}

.slider-thumbs {
    margin: 15px auto;
    max-width: 770px;
}

.slider-thumbs:after {
    content: "";
    background-image: url(../../img/current-item.svg);
    position: absolute;
    left: 0;
    width: 20%;
    height: 14px;
    bottom: -19px;
    background-position: center;
    background-repeat: no-repeat;
}

.next-button-slick {
    right: 15px;
}

.prev-button-slick {
    left: 15px;
}

.next-button-slick,
.prev-button-slick {
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 40px;
    color: white;
    z-index: 1;
    margin-top: -20px;
}

.slider-section {
    position: relative;
}

.slick-type {
    background-size: cover;
    height: 60px;
    width: 60px;
    margin: 0 auto;
}

.slick-quote .slick-type {
    background-image: url(../../img/type-quote.svg);
}

.slick-quote hr {
    max-width: 110px;
    border-top: 2px solid rgba(255, 255, 255, 0.25);
}

.slick-quote p {
    margin: 0;
}

.slick-quote p:first-of-type {
    margin: 25px 0;
    font-size: 1em;
}

.slick-quote p:last-of-type {
    margin: 0 0 10px;
}

.more-info {
    font-weight: 100;
}

/*.slider-main .slick-slide {
    opacity: 0;
    -webkit-transition: opacity 0.3s 0s ease-in;
    -moz-transition: opacity 0.3s 0s ease-in;
    -ms-transition: opacity 0.3s 0s ease-in;
    -o-transition: opacity 0.3s 0s ease-in;
    transition: opacity 0.3s 0s ease-in;
}

.slider-main .slick-slide.slick-active {
    opacity: 1;
}*/
/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) {
    .slider-thumbnail {
        height: 60px;
        width: 60px;
    }
    .next-button-slick {
        right: 7px;
    }
    .prev-button-slick {
        left: 7px;
    }
    .slick-quote {
        padding: 25px 12%;
        max-height: 100%;
    }
    .slider-thumbs:after {
        /*left: 2.95%;*/
    }
    .slider-thumbs:after {
        width: 25%;
    }
}
/* Medium devices (desktops, 992px and up) */

@media (max-width: 991px) {
    .slick-quote {
        max-height: 100%;
        max-width: 660px;
        margin: 0 auto;
    }
    .slider-thumbs:after {
        width: 25%;
    }
}
/* Slide 01 Images */

.slider-thumbs .slider-thumbnail-01 {
    background-image: url(../../img/quote-image-thumb-01.png);
}

.slider-main .slider-content-01 {
    background-image: url(../../img/quote-image-01.png);
}
/* Slide 02 Images */

.slider-thumbs .slider-thumbnail-02 {
    background-image: url(../../img/quote-image-thumb-02.png);
}

.slider-main .slider-content-02 {
    background-image: url(../../img/quote-image-02.png);
}
/* Slide 03 Images */

.slider-thumbs .slider-thumbnail-03 {
    background-image: url(../../img/quote-image-thumb-03.png);
}

.slider-main .slider-content-03 {
    background-image: url(../../img/quote-image-03.png);
}
/* Slide 04 Images */

.slider-thumbs .slider-thumbnail-04 {
    background-image: url(../../img/quote-image-thumb-04.png);
}

.slider-main .slider-content-04 {
    background-image: url(../../img/quote-image-04.png);
}
/* Slide 05 Images */

.slider-thumbs .slider-thumbnail-05 {
    background-image: url(../../img/quote-image-thumb-05.png);
}

.slider-main .slider-content-05 {
    background-image: url(../../img/quote-image-05.png);
}
/* Slide 06 Images */

.slider-thumbs .slider-thumbnail-06 {
    background-image: url(../../img/quote-image-thumb-06.png);
}

.slider-main .slider-content-06 {
    background-image: url(../../img/quote-image-06.png);
}