
body {
	background-color: #eaeff1;
	margin: 0px;
	font-family: 'LeagueGothic','ArvoRegular', Georgia, serif;
	font-size: 30px;
	overflow-x: hidden;
}


.full_page {
}

.text_link, .date_entry, .comment_text{
    text-decoration: none;
    position: relative;
    z-index: 120;

    font-decoration: none;
  
   
}

.asterix {
	position: relative;
    z-index: 130;
    color: #65b8d1;
    width: 50px;
    height: 50px;
	font-size: 40px;
	font-family: "franklin-gothic-ext-comp-urw-1","franklin-gothic-ext-comp-urw-2",sans-serif;
	font-style: normal;


}

.asterix a, .asterix a:link {
  text-decoration: none;
  color: #65b8d1;
}

.asterix a:hover {
    text-decoration: none;
    color: #58585b;
}




.comment_text {
	color: #58585b;
	font-family: "ltc-bodoni-175-1","ltc-bodoni-175-2", Georgia;
    width: 60%;
    left: 22%;
    font-style: italic;
    font-size: 17.5px;

}

.date_entry {
	color: #58585b;
	
	font-size: 60px;
	font-family: "LeagueOstrich-Bold", "franklin-gothic-ext-comp-urw-1","franklin-gothic-ext-comp-urw-2",sans-serif;
	font-style: normal;
	
}


a, a:link {
  text-decoration: none;
  
  color: #65b8d1;
}

 a:hover {
    text-decoration: none;
    color: #58585b;
}



.header_gr {
   background-color: #666666;
   left: 0%;
   width: 100%;
   height: 50px;
   margin-top: 50px; 
   margin-left: 0px;
   padding-left: 30%;
   padding-top: 5px; 
   z-index: 116;
}



.content_well {
	

	margin-left: 30%;
	

	position: relative;
	

	margin-top: 100px;

	
	

}



.main_img {

	margin: -20px 0px 0px 85px;
	clear: both;
	width: 220px;
	 position: relative;

}

.divider_img {
    clear: both;
	
	position: relative;
}

.image_wrapper {
	
	margin: -60px 0px 0px -168px;
	clear: both;
	
	position: relative;



}


.count_wrapper {
	margin: -20px 0px 0px 88px;
	clear: both;
	
	position: relative;



}


.post_wrapper {
	
	position: relative;
	
	border-width: 20px;

	margin-bottom: 10px;
	margin-top: 60px;
	margin-left: 0px;
	
}



.indi_post {

	text-align: center;
	width: 100%;
	
	border-color: #00a651;
	border-width: 4px;
	border-style: solid;
	background-color: #ffffff;
	
	
	-moz-box-shadow:    0 0 4px rgba(128,128,128,.75);
    -webkit-box-shadow: 0 0 4px rgba(128,128,128,.75);
    box-shadow:         0 0 4px rgba(128,128,128,.75);
  


}





 h1 {
 	padding: 0px;
 	
 	margin: 0px 0px 0px 0px;
	color: #65b9d2;
	text-transform: uppercase;
	line-height: 40px;
	font: 40px 'LeagueGothic','ArvoRegular', Georgia, serif;
	
}



p {

                 
               
    font-size: 30px;
               
	color: #58595b;

}



@font-face {
    font-family: 'LeagueGothic';
    src: url('../../fontface/League_Gothic-webfont.eot');
    src: url('../../fontface/League_Gothic-webfont.eot?iefix') format('eot'),
         url('../../fontface/League_Gothic-webfont.woff') format('woff'),
         url('../../fontface/League_Gothic-webfont.ttf') format('truetype'),
         url('../../fontface/LeaguegothicNumberOne.svg#webfontvBl98OZ1') format('svg');
    font-weight: normal;
    font-style: normal;

}





@font-face {
    font-family: 'LeagueOstrich-Bold';
    src: url('../../type/League_Ostrich/webfonts/ostrich-bold-webfont.eot');
    src: url('../../type/League_Ostrich/webfonts/ostrich-bold-webfont.eot?iefix') format('eot'),
         url('../../type/League_Ostrich/webfonts/ostrich-bold-webfont.woff') format('woff'),
         url('../../type/League_Ostrich/webfonts/ostrich-bold-webfont.ttf') format('truetype'),
         url('../../type/League_Ostrich/webfonts/ostrich-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}





 