/* 
	Resets defualt browser settings
	reset.css
*/

:focus { outline:0; }
a:active { outline:none; }

ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }



/*
	Page style
*/



#container {
	width:600px;
	padding:10px;
	margin:-10px 0px 110px -110px;
	position:relative;
	z-index:0;
}

#example {
	width:600px;
	height:360px;
	position:relative;
}


#frame {
	position:absolute;
	z-index:0;
	width:769px;
	height:440px;
	top:-3px;
	left:-80px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:600px;
	height:360px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:600px;
	height:360px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:147px;
	left:-37px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:612px;
}

/*
	Pagination
*/

.pagination {
	margin:34px 0px 0px 193px;
	width:200px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}


