


$m-main-color: white;
$m-subtle-color: #f2f2f2;
$m-dark-color: #333d47;


$m-bright-color: #3fc8b4;
$m-shade-color: #237067;
$m-accent-color: #333d47;

/*--------------MAIN -------------------------*/

body {
	
	margin: 0 0;
	font-family: Brandon Grotesque, 'brandon-grotesque-1', 'brandon-grotesque-2', sans-serif;
}

h1 {
	color: $m-main-color;
	font-size: 3.9em;
	/*line-height: 1.1;
	text-transform: uppercase;*/
	
}

h2 {
	font-size: 2em;
	
}

h3 {
	color: $m-shade-color;
	
	font-size: 1.4em;
	font-family: P22 Underground, 'p22-underground-1', 'p22-underground-2', sans-serif;
	font-weight: 300;
	text-transform: lowercase;
}

h1 + h3 {
	
	margin-top: -46px;
}

p {
	font-size: 1.15em;
	
	font-weight: 300;
	font-family: Brandon Grotesque, 'brandon-grotesque-1', 'brandon-grotesque-2',serif;
	color: $m-accent-color;

}

a {
	font-size: 1em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	color: $m-accent-color;
	
}





.container {
	
}




/*--------------INTRO PAGE -------------------------*/

.start-border {
	position:fixed !important;
	position:absolute;
	z-index:-10;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color: $m-subtle-color;
	padding: 20px;
}
.start {

	
	width: 100%;
	height: 100%;
	margin: auto;
	text-align: center;
	background-color: $m-bright-color;
		
		
	border: 2px solid transparent;
	
		
}



.start-item {
	
	margin: 10em auto;
	
    padding: 0 2em 0;
	/*border: 1px solid red;*/
    
    max-width: 33em;
}


.start p {
	border-top: 2px solid $m-subtle-color;
	padding-top: 20px;
	
}

.start-arrow {
	width:40px;
	margin: 50px auto 0;
	display:block;
	z-index: 10;

}


.start-links {

	z-index: 5;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	transition: .3s ease-out;

}





.btn {

	
	font-size: .9em;
	font-weight: 700;
	
	
	color: $m-accent-color;
	border: 1px $m-accent-color solid;
	
	padding:1em 2.5em;
	
	
	transition: .3s ease-out;
		
}

.start-links>.btn {
	float: right;
	display: inline-block;
	margin: 0 3em 3em 3em;
}

.btn:hover {
	color: $m-main-color;
	border-color: $m-main-color;
	
}




.start-links>.btn:first-child {
	float: left;
	padding:1em 2em;
}




.arw-line-1 {
	-ms-transform: rotate(0deg); /* IE 9 */
   	-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    
    -webkit-transition: all 1s ease;
  transition: all 1s ease; 
}

.arw-line-2 {
	-ms-transform: rotate(0deg); /* IE 9 */
   	-webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    
    -webkit-transition: all .3s ease;
	transition: all .3s ease;
}


/*--------------SVG -------------------------*/

* {
	transform-origin: 50% 50%;
}

.start-arrow:hover .arw-line-1 {
	animation: turn .4s ease-out; 
	stroke: $m-main-color;
	
}
.start-arrow:hover .arw-line-2 {
	animation: turnCounter .4s ease-out; 
	stroke: $m-main-color;
	
}

@keyframes turn {
  100% {
	-ms-transform: rotate(360deg); /* IE 9 */
   	-webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes turnCounter {
  100% {
    	-ms-transform: rotate(-360deg); /* IE 9 */
   	-webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}






/*--------------SECTIONS -------------------------*/

#below-fold {
	margin-top: 100vh;	

}


.available {
	display:block;
	height: 20px;
	width: 100%; 
	background-color: $m-subtle-color;
}



.brands, .studios, .skills, .link-out {
	padding-top: 30px;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 12em;
	
	
	
	z-index: 10;


}

.link-out {
	padding-bottom: 8em;
}


.brands h2, .studios h2 {
	
	
	-webkit-column-span: all;
	-moz-column-span: all;
	column-span: all;

	

}



.link-out {
	color: $m-shade-color;
	background-color: $m-bright-color;
	
}

 .link-out h1 {
		 
		 margin-bottom: 80px;
	 }

 .link-out .btn {
		 
		 margin-right: 40px;
	 }

.link-out>div {

	
}


.studios {	
	background-color: #FF8E73;
	
    -webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
}

.studios h2 {
	color:#F7D9D5;
}

.studios li {
	color: #f2f2f2;
}


.skills {	
	background-color: #4B6A88;
	
	
	
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

.skills h2 {
	color:#92B4C7;
	}

.skills li {
	/*color: #C9DFEC;*/
	color: $m-main-color;
}


.brands {	
	background-color: #EEE8DE;
	
	-webkit-column-count: 5; /* Chrome, Safari, Opera */
    -moz-column-count: 5; /* Firefox */
    column-count: 5;
}

.brands h2 {
	color:#F85E52;
}

.brands li {
	color: #8B572A;
}


li {
	list-style-type: none;	
	list-style-position: outside;
}

.foot {
	background-color: $m-shade-color;
	//padding: 10px;
	float: left;
	width: 100%;

	
	
}

.social-icons {
	
	width:20px;
	margin-right: 20px;
	padding:10px;
	float: right;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	//border-radius: 25px;
	//border: 1px white solid;

}

.social-icons:hover {
	
	background-color: #FF8E73;

}





 /* ===========================================================================
 	Media Queries
  ============================================================================= */

  /* desktop*/
  
  @media screen and (max-width:1024) {
	  


  }
 
 
  
  /* Tablets */
  
  @media screen and (max-width: 768px){
	  

 
	  
	  
  	.brands, .studios {	
		
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
		-moz-column-count: 3; /* Firefox */
		column-count: 3;
	}



	
	.brands, .studios, .skills {
		padding-top: 30px;
		padding-left: 10%;
		padding-right: 5%;
		padding-bottom: 12em;
		
		
		
		z-index: 10;
	

	}
	
	

	
	}
	
	
 @media screen and (max-width: 768px) and (orientation: portrait) {
	 .start-item {
		
		margin: 5em auto;
		
	  
	}

	

	
	}	
	
	

 
   /* Phones */
 
  @media screen and (max-width:480px){
	  
	
	  
	.start-links .btn {
	
		border: none;

	
		
		
		margin: 0em 1em 1.5em 1.5em;

	}
	
	.btn:first-child {
		margin-right: 0;
	}
	  
 	 .brands {	
			
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	}
	
	 .studios {	
		
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	}
	
	.start-item {

	   margin: 4.5em auto;

	}
	
	.start-arrow {
		margin: 30px auto 0;
	}

	h1 {
		line-height: 1.1;
		font-size: 3.1em;
	
		
	}
	
	
	 
  
	 h3 {
	
		font-size: 1.15em;
	
	}
	
	h1 + h3 {
	
		margin-top: -30px;
	}
	
	p {
	font-size: .95em;
	letter-spacing: 1.25;

	}





	
  }
     
     
     

 
  
  
 
 

 