@charset "UTF-8";

@font-face {
  font-family: "lyft-icons-2";
  src:url("../img/fonts/lyft-icons-2.eot");
  src:url("../img/fonts/lyft-icons-2.eot?#iefix") format("embedded-opentype"),
    url("../img/fonts/lyft-icons-2.woff") format("woff"),
    url("../img/fonts/lyft-icons-2.ttf") format("truetype"),
    url("../img/fonts/lyft-icons-2.svg#lyft-icons-2") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lyft-icons-2" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-2-"]:before,
[class*=" icon-2-"]:before {
  font-family: "lyft-icons-2" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-2-down-arrow:before {
  content: "a";
}
.icon-2-left-arrow:before {
  content: "b";
}
.icon-2-right-arrow:before {
  content: "c";
}
.icon-2-twitter-bird:before {
  content: "t";
}
.icon-2-twitter-bird-circle:before {
  content: "d";
}
.icon-2-up-arrow:before {
  content: "e";
}
.icon-2-close:before {
  content: "f";
}
.icon-2-play:before {
  content: "h";
}
