/* ====================================================== */
/* ======= DEVELOPMENT (DELETE BEFORE GOING LIVE) ======= */
/* ====================================================== */

* {
    font-family: "Gotham SSm A", "Gotham SSm B", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif !important
}
/* ========================== */
/* ======= Typography ======= */
/* ========================== */

h1,
h2,
h3,
h4,
h6 {
    letter-spacing: -.05em;
}

.font-size-nheader,
.h1,
.jumbotron h1,
h1 {
    font-size: 4rem;
}

.answer h2,
.h3,
.pricing h2,
.terms-body h1,
.value-prop-in-threes header,
h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

dd,
dt,
li,
p,
ul {
    font-size: 18px;
}

section header > span {
    display: inline-block;
    position: relative;
}
/*.jumbotron h1::after,*/

section header span::after {
    content: "";
    width: 90px;
    height: 4px;
    background-color: #ea0b8c;
    display: block;
    position: relative;
    top: 1.2rem;
}
/* ======================= */
/* ======= Headers ======= */
/* ======================= */

.site-logo {
    float: none;
    margin: 0 auto;
    text-align: left;
    line-height: 0!important
}

#site-navigation {
    background-color: rgba(51, 61, 71, 0);
}

#site-navigation {
    position: absolute;
}

section header {
    margin: 0 auto 2.4rem;
}

.main section header p:first-of-type {
    margin: 4em 0 0;
}

.button-container {
    /*margin: 0 auto;*/
    
    width: 1.1em;
}

#page-header .button-container a {
    color: #EA0B8C;
    font-size: 1.7rem;
}

#page-header .button-container a:before,
#page-header .button-container a {
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

#page-header .button-container a:hover:before {
    transform: translateY(3px) scale(1.2);
    color: #FFFFFF;
}

.jumbotron .jumbo-inner-contain {
    width: 100%;
    top: initial;
    bottom: 36%;
}

.jumbotron .container .button-container > a {
    display: block;
}

.button-container-2 a {
    font-weight: 500;
    letter-spacing: -0.06em;
}
/* ========================= */
/* ======= Jumbotron ======= */
/* ========================= */

.jumbotron div {
    height: 100%;
}

.jumbotron h1 {
    position: initial;
    text-align: left;
    line-height: .9;
    letter-spacing: -.05em;
    text-shadow: none;
}

.jumbotron p {
    position: initial;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6;
    text-shadow: none;
}

.jumbotron .container {
    height: 100%;
}

.jumbotron .jumbo-contain-half {
    width: 50%;
    height: 100%;
}

.jumbotron .jumbo-inner-contain {
    width: 50%;
    top: 35%;
    height: auto;
    position: absolute;
}
/* =================================== */
/* ======= Header & Footer CTA ======= */
/* =================================== */

.jumbotron .header-cta {
    height: auto;
}

.pre-footer-cta {
    background-image: url(../img/pre-footer-cta_s.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% center;
}

@media only screen and (min-width: 321px) and (max-width: 768px) {
    .pre-footer-cta {
        background-image: url(../img/pre-footer-cta_m.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .pre-footer-cta {
        background-image: url(../img/pre-footer-cta.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 60% center;
    }
}

@media only screen and (min-width: 1200px) {
    .pre-footer-cta {
        background-image: url(../img/pre-footer-cta_xl.jpg);
    }
}

.header-cta {
    -o-transition: background-color 200ms ease;
    -ms-transition: background-color 200ms ease;
    -moz-transition: background-color 200ms ease;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}

.header-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /*padding: 25px;*/
    
    background-color: rgba(51, 61, 71, 0.7);
    border-width: 2px 0;
    border-style: solid;
    border-color: #EA0B8C;
    color: #FFF;
    text-transform: uppercase;
    /*min-height: 88px;*/
    
    z-index: 100;
    font-size: 1.4em;
    letter-spacing: -0.06rem;
    -o-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.header-cta:hover {
    background-color: rgba(51, 61, 71, 1);
}

.header-cta-inner {
    text-align: center;
    padding: 1em 0;
}

.header-cta-inner span,
.header-cta-inner strong {
    pointer-events: none;
}

.header-cta-inner span:nth-of-type(2) {
    font-weight: bold;
    line-height: .75;
}

.pre-footer-cta,
.header-cta {
    border-top: 2px solid #EA0B8C;
    cursor: pointer;
}

.pre-footer-cta {
    padding: 0;
}

.pre-footer-cta-inner a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    -o-transition: background 200ms ease-in-out;
    -ms-transition: background 200ms ease-in-out;
    -moz-transition: background 200ms ease-in-out;
    -webkit-transition: background 200ms ease-in-out;
    transition: background 200ms ease-in-out;
}

.pre-footer-cta-inner > a {
    background: rgba(51, 61, 71, 0.8);
}

.pre-footer-cta-inner:hover > a {
    background: rgba(51, 61, 71, 0.3);
}

.pre-footer-cta-inner > a,
.header-cta-inner {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4rem;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
    padding: 38px;
    color: #FFF;
    min-width: 100vw;
    margin-left: -15px;
    margin-right: -15px;
}

.header-cta-inner {
    padding: 30px 15px;
}

.pre-footer-cta-inner > a:after,
.header-cta-inner:after {
    content: "c";
    font-family: "lyft-icons-2" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    color: #EA0B8C;
    margin: -0.2rem 0 0 10px;
    position: relative;
    display: inline-block;
}

.pre-footer-cta-inner > a:after,
.header-cta-inner:after {
    content: "c";
    font-family: "lyft-icons-2" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    color: #EA0B8C;
    margin: -0.2rem 0 0 10px;
    position: relative;
    display: inline-block;
}

.pre-footer-cta + footer {
    margin-top: 0;
}
/* ===================== */
/* ======= Misc. ======= */
/* ===================== */

.btn:focus,
.form-control:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

[class^="icon-2-"]:before,
[class*=" icon-2-"]:before {
    vertical-align: middle;
}
/* ====================== */
/* ======= Footer ======= */
/* ====================== */
/* ===================== */
/* ======= Color ======= */
/* ===================== */

body {
    background-color: #FFFFFF;
}

.dk-bg {
    color: #FFFFFF;
}

.lt-bg {
    color: rgb(51, 51, 51);
}

.grey-md-bg {
    background-color: #3D4854;
}

.grey-md {
    color: #3D4854;
}

.grey-lt-bg {
    background-color: #425462;
}

.grey-lt {
    color: #425462;
}

.grey-dk-bg {
    background-color: #2F373D;
}

.grey-dk {
    color: #2F373D;
}

.pink-lt-bg {
    background-color: #EA0B8C;
}

.pink-lt {
    color: #EA0B8C;
}

.pink-md-bg {
    background-color: #BA0876;
}

.pink-md {
    color: #BA0876;
}

.pink-dk-bg {
    background-color: #ad005d;
}

.pink-dk {
    color: #ad005d;
}
/* ====================== */
/* ======= Thirds ======= */
/* ====================== */

.thirds-fluid .thirds-content {
    max-width: 300px;
    padding: 50px 0;
}

.thirds-constrained .dk-bg .thirds-content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px 10px;
}

.thirds-fluid .thirds-content,
.thirds-constrained {
    margin: auto;
    text-align: center;
}

.icon-holder {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.thirds-fluid .col-md-4:hover .icon-holder,
.thirds-constrained .col-md-4:hover .icon-holder {
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
}

.icon-holder img {
    height: 70px;
}

.thirds-fluid .icon-holder + h2 {
    margin: .7em;
}
/* ============================= */
/* ======= Thirds Images ======= */
/* ============================= */

.thirds-fluid .row {
    margin-left: 0;
    margin-right: 0;
}

.thirds-images .thirds-img-first .background {
    background-image: url(http://www.lyft.com/images/partnerships/mlb-bg.ca9a67b2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
}

.thirds-images .thirds-img-second .background {
    background-image: url(http://www.lyft.com/images/partnerships/mastercard-crop-bg.7dc7ddfd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.thirds-images .thirds-img-third .background {
    background-image: url(http://www.lyft.com/images/partnerships/baytobreakers-bg.4905292b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 40%;
}

.thirds-images {
    border-top: 1px solid #fff;
    padding: 0;
}

.thirds-images .row {
    position: relative;
    height: 240px;
    margin: 0;
}

.thirds-images .thirds-img-first .background>div {
    right: 0;
}

.thirds-images .row .background>div {
    position: absolute;
    width: 330px;
    height: 100%;
    z-index: 1001;
}

.thirds-images .thirds-img-first {
    position: absolute;
    left: 0;
    width: 50%;
    padding-right: 165px;
}

.thirds-images .thirds-img-second {
    position: absolute;
    width: 330px;
    left: 50%;
    margin-left: -165px;
}

.thirds-images .thirds-img-third {
    position: absolute;
    right: 0;
    width: 50%;
    padding-left: 165px;
}

.thirds-images .row>div {
    position: absolute;
    min-width: 330px;
    height: 100%;
    float: left;
    overflow: hidden;
}

.thirds-images .row .background p {
    opacity: 0;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    margin: 50px 12px;
    transition: all 0.2s 0.1s ease-out;
    -o-transition: all 0.2s 0.1s ease-out;
    -moz-transition: all 0.2s 0.1s ease-out;
    -webkit-transition: all 0.2s 0.1s ease-out;
}

.thirds-images hr {
    width: 0%;
    opacity: 0;
    max-width: 200px;
    transition: all 0.3s 0.05s ease-out;
    -o-transition: all 0.3s 0.05s ease-out;
    -moz-transition: all 0.3s 0.05s ease-out;
    -webkit-transition: all 0.3s 0.05s ease-out;
}

.thirds-images .row .background img {
    display: block;
    margin: 0 auto;
    transform: scale(1) translateY(0);
    -o-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    -moz-transform: scale(1) translateY(0);
    -webkit-transform: scale(1) translateY(0);
    transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.thirds-images .thirds-img-first .background img {
    width: 110px;
    margin-top: 80px;
}

.thirds-images .thirds-img-second .background img {
    width: 110px;
    margin-top: 80px;
}

.thirds-images .thirds-img-third .background img {
    width: 150px;
    margin-top: 68px;
}

.thirds-images .row .background {
    position: relative;
    height: 100%;
}

.thirds-images .background:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.thirds-images .perks .background:hover p {
    opacity: 1;
}

.thirds-images .background:hover img {
    transform: scale(.85) translateY(9px);
    -o-transform: scale(.85) translateY(9px);
    -ms-transform: scale(.85) translateY(9px);
    -moz-transform: scale(.85) translateY(9px);
    -webkit-transform: scale(.85) translateY(9px);
}

.thirds-images .thirds-img-first .background:hover img {
    margin-top: 37px;
}

.thirds-images .thirds-img-second .background:hover img {
    margin-top: 40px;
}

.thirds-images .thirds-img-third .background:hover img {
    margin-top: 35px;
}

.thirds-images .background:hover p {
    opacity: 1;
    margin: 10px 12px;
    transition: all 0.35s 0.2s ease-in-out;
    -o-transition: all 0.35s 0.2s ease-in-out;
    -ms-transition: all 0.35s 0.2s ease-in-out;
    -moz-transition: all 0.35s 0.2s ease-in-out;
    -webkit-transition: all 0.35s 0.2s ease-in-out;
}

.thirds-images .background:hover hr {
    opacity: 1;
    width: 60%;
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 14px;
    transition: all 0.3s 0.1s ease-out;
    -o-transition: all 0.3s 0.1s ease-out;
    -ms-transition: all 0.3s 0.1s ease-out;
    -moz-transition: all 0.3s 0.1s ease-out;
    -webkit-transition: all 0.3s 0.1s ease-out;
}

.thirds-images .background:hover::after {
    background: rgba(51, 61, 71, .7);
}
/* ============================= */
/* ======= Media Queries ======= */
/* ============================= */
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}
/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}
/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}
/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}
/* Medium Devices, Desktops */

@media only screen and (max-width: 990px) {
    .thirds-images .thirds-img-first .background img {
        margin-top: 63px;
    }
    .thirds-images .thirds-img-second .background img {
        margin-top: 69px;
    }
    .thirds-images .thirds-img-third .background img {
        margin-top: 58px;
    }
    .thirds-images .thirds-img-first .background:hover img {
        margin-top: 27px;
    }
    .thirds-images .thirds-img-second .background:hover img {
        margin-top: 31px;
    }
    .thirds-images .thirds-img-third .background:hover img {
        margin-top: 25px;
    }
    .thirds-images .thirds-img-second .background {
        background-image: url(http://www.lyft.com/images/partnerships/mastercard-bg.cb8f31e7.jpg);
    }
    .thirds-images .row>div {
        position: relative;
        width: 100%;
        height: 200px;
        min-width: 0;
    }
    .thirds-images .thirds-img-first {
        position: relative;
        width: 100%;
        padding: 0;
    }
    .thirds-images .thirds-img-second {
        position: relative;
        width: 100%;
        left: 0;
        margin: 0;
        padding: 0;
    }
    .thirds-images .thirds-img-third {
        position: relative;
        width: 100%;
        padding: 0;
    }
    .thirds-images .row .background>div {
        width: 100%;
    }
    #page-header .button-container a {
        color: #FFFFFF;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: -0.06rem;
    }
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .jumbotron h1,
    h1 {
        font-size: 30px;
    }
    dd,
    dt,
    li,
    p,
    ul {
        font-size: 14px;
    }
    .jumbotron p {
        font-size: 0.95rem;
        line-height: 1.4rem;
    }
    .jumbotron .container .button-container > a {
        display: none;
    }
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {
    .pre-footer-cta strong {
        display: inline-block;
    }
    .pre-footer-cta-inner > a {
        padding-top: 33px;
    }
}